  body {
      font-family: Arial, sans-serif;
  }

  .body-links {
    list-style: none;
    gap: 20px;
  }
  
  .body-links a {
    text-decoration: none;
    background-color: darkred;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .body-links a:hover {
    background-color: red;
  }

  .header-section{
    text-align: center;
    background-color: #272121;
    color: white;
    padding: 10px;
    margin: 0px;
  }


  /*Navbar styling*/
   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #205a93;
    padding: 15px 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .nav-links a:hover {
    color: #53c3e2;
  }


/*login/register page styling*/
  .form-section {
    max-width: 600px;
    margin: auto;
    background: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .4); 
    padding: 20px; 
    text-align: center; 
    margin-top: 50px;
  }

  .form-label{
    display: inline-block;
    width: 90px;
  }

  .form-input{
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
    border-radius: 5px;
  }

  .form-button{
    background-color: darkred; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    transition: background-color 0.4s ease; 
  }

  .form-button:hover{
    background: red;
  }



  /*Welcome section styling*/
  .welcome-section {
    max-width: 600px;
    margin: auto;
    background: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .4); 
    padding: 20px; 
    text-align: center; 
    margin-top: 50px;
  }


/*Search page styling*/
  .display-page-container {
    max-width: 600px;
    margin: auto;
    background: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .4); 
    padding: 20px; 
    text-align: center; 
    margin-top: 50px;
  }

  .search-bar{
    border-radius: 5px;
    padding: 8px 15px; 
    margin-bottom: 20px;
  }


  .display-container{
    columns: 2;
    column-gap: 1rem;
  }

  .display-container >*{
    break-inside: avoid;  /*Prevents splitting of each book*/
  }


  .display-info-block{
    background: white#e2eef4; 
    border-radius: 10px; 
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); 
    padding: 10px; 
    text-align: center; 
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
    
  }

  .display-button{
    background-color: darkred; 
    color: white;
    padding: 12px 15px;
    margin: 8px;
    font-size: 16px;
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    transition: background-color 0.4s ease; 
  }

  .display-button:hover{
    background: red;
  }

  .submit-button{
    background-color: darkred; 
    color: white;
    border-radius: 5px;
    padding: 8px 15px; 
    margin-bottom: 20px;
    font-size: 16px;
    border: none; 
    cursor: pointer;  
  }

  .submit-button:hover{
    background: red;
  }

  .pagination-nav{
    margin-top: 20px;
  }
  .pagination {
    background-color: #205a93;
    border-radius: 8px;
    padding: 10px 15px;
    display:inline;      
}

  .page-item{
    list-style-type: none;
    display: inline;
    padding: 15px;
  }

  .page-link{
    color: white; 
    text-decoration: none; 
    font-size: 16px; 
    padding: 8px 15px; 
    border-radius: 20px; 
  }

  .page-link:hover{
    color: #53c3e2; 
  }
  .active{
    padding: 8px 15px; 
    background-color: rgb(116, 124, 129); 
    border-radius: 20px; 
  }

/*Admin dashboard styling*/
.admin-dashboard-container {
  max-width: 600px;
  margin: auto;
  background: #f9f9f9; 
  border-radius: 10px; 
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .4); 
  padding: 20px; 
  text-align: center; 
  margin-top: 50px;
}

.admin-button{
  background-color: #205a93; 
  color: white;
  border-radius: 10px;
  padding: 10px 15px; 
  margin: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none; 
  cursor: pointer;  
}

.admin-button:hover{
background-color: #53c3e2;
}

select {
  margin-bottom: 20px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
}

